/* Global rules */

:root {
  --intro-background: hsl(217, 28%, 15%);
  --main-background: hsl(218, 28%, 13%);
  --footer-background: hsl(216, 53%, 9%);
  --testimonials-background: hsl(219, 30%, 18%);
  --Cyan: hsl(176, 68%, 64%);
  --Blue: hsl(198, 60%, 50%);
  --Light-Red: hsl(0, 100%, 63%);
  --White: hsl(0, 0%, 100%);
  --main-Font-size: 14px;
  --body-font: "Open Sans", sans-serif;
  --heading-font: "Raleway", sans-serif;
}

body {
  font-family: var(--body-font);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  text-decoration: none;
  list-style: none;
}

::-webkit-scrollbar {
  background-color: var(--main-background);
}

::-webkit-scrollbar-track {
  background-color: var(--main-background);
}

::-webkit-scrollbar-thumb {
  background-color: var(--footer-background);
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Mediam */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.btn {
  padding: 8px 50px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  background-color: var(--Blue);
  color: var(--White);
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.btn:hover {
  background-color: var(--Cyan);
}

.landing-page {
  overflow: hidden;
}

/* Header */

header {
  background-color: var(--intro-background);
  padding-top: 15px;
  padding-bottom: 15px;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

header .logo {
  max-width: 100px;
}

header nav {
  display: inline-block;
}

header nav a {
  margin-right: 50px;
  font-size: var(--main-Font-size);
  font-weight: bold;
  color: var(--White);
  opacity: 0.7;
  font-family: var(--heading-font);
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

header nav a:hover {
  text-decoration: underline;
  opacity: 1;
}

@media (max-width: 575px) {
  header nav a {
    margin-right: 20px;
    font-size: 12px;
  }
}

@media (max-width: 375px) {
  header .logo {
    width: 60px;
  }
  header nav a {
    margin-right: 10px;
    font-size: 10px;
  }
}

/* Intro Section */

section.intro {
  background-color: var(--intro-background);
  background-image: url(../images/bg-curvy-desktop.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
  width: 100%;
  min-height: calc(100vh - 50px);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
}

section.intro img {
  max-width: 500px;
  margin-bottom: 20px;
}

section.intro h2 {
  color: var(--White);
  font-family: var(--heading-font);
  max-width: 500px;
  text-align: center;
  line-height: 1.6;
}

section.intro p {
  font-size: var(--main-Font-size);
  max-width: 370px;
  line-height: 1.6;
  color: var(--White);
  text-align: center;
  margin-top: 20px;
  opacity: 0.7;
  margin-bottom: 20px;
}

@media (max-width: 575px) {
  section.intro img {
    width: 400px;
  }
}

@media (max-width: 375px) {
  section.intro img {
    width: 250px;
  }
  section.intro h2 {
    font-size: 20px;
  }
}

/* Features Section */

section.features {
  background-color: var(--main-background);
  padding-top: 80px;
  padding-bottom: 80px;
}

section.features .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 80px 30px;
}

section.features .container .box {
  text-align: center;
}

section.features .container .box img {
  width: 80px;
  height: 80px;
  object-fit: contain;
  margin-bottom: 10px;
}

section.features .container .box h2 {
  color: var(--White);
  margin-bottom: 10px;
  font-family: var(--heading-font);
}

section.features .container .box p {
  color: var(--White);
  font-size: 12px;
  line-height: 1.6;
  width: 70%;
  margin: auto;
}

@media (max-width: 375px) {
  section.features .container {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 375px) {
  section.features .container {
    grid-template-columns: 1fr;
  }
}

/* About Section */

section.about {
  background-color: var(--main-background);
  padding-top: 80px;
  padding-bottom: 80px;
}

section.about .container {
  display: flex;
  align-items: center;
}

section.about .image {
  max-width: 600px;
  margin-right: 50px;
}

section.about .image img {
  width: 100%;
}

section.about .info h2 {
  color: var(--White);
  font-family: var(--heading-font);
  font-size: 45px;
  margin-top: -20px;
}

section.about .info p {
  color: var(--White);
  opacity: 0.7;
  margin-top: 20px;
}

section.about .info .link {
  margin-top: 30px;
  padding-bottom: 5px;
  display: block;
  width: fit-content;
  border-bottom: 1px solid var(--Cyan);
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

section.about .info .link a {
  color: var(--Cyan);
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

section.about .info .link:hover {
  border-bottom-color: var(--White);
}

section.about .info .link:hover a {
  color: var(--White);
}

section.about .info .link:hover img {
  filter: grayscale(1);
  -webkit-filter: grayscale(1);
}

@media (max-width: 768px) {
  section.about .container {
    flex-direction: column;
  }
  section.about .image {
    margin: auto;
  }
  section.about .image img {
    margin-right: 0;
    margin-bottom: 50px;
    width: 400px;
  }
  section.about .info h2 {
    font-size: 20px;
    margin-top: 20px;
  }
  section.about .info .link a {
    font-size: var(--main-Font-size);
  }
}

@media (max-width: 375px) {
  section.about .image img {
    max-width: 300px;
    margin-right: 0;
  }
}

/* testimonials Section */

section.testimonials {
  background-color: var(--main-background);
  padding-top: 80px;
  padding-bottom: 100px;
}

section.testimonials .cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 30px;
}

section.testimonials .cards .card {
  padding: 20px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  background-color: var(--testimonials-background);
  width: 100%;
  box-shadow: 0 0 10px var(--footer-background);
}

section.testimonials .cards .card p {
  color: var(--White);
  opacity: 0.7;
  font-size: var(--main-Font-size);
  line-height: 1.6;
}

section.testimonials .cards .card .person-info {
  display: flex;
  margin-top: 20px;
  gap: 10px;
}

section.testimonials .cards .card .person-info .image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  overflow: hidden;
}

section.testimonials .cards .card .person-info .image img {
  width: 100%;
  height: 100%;
}

section.testimonials .cards .card .person-info .info h3 {
  font-size: var(--main-Font-size);
  color: var(--White);
  font-family: var(--heading-font);
}

section.testimonials .cards .card .person-info .info p {
  color: var(--White);
  opacity: 0.7;
  font-size: 10px;
}

/* Contact Form */

section.contact {
  background-color: var(--main-background);
  width: 100%;
  padding-top: 100px;
  position: relative;
}

section.contact:before {
  content: "";
  width: 100%;
  height: 30%;
  background-color: var(--footer-background);
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 0;
}

section.contact .contact-box {
  width: 60%;
  background-color: var(--intro-background);
  margin: auto;
  position: relative;
  padding: 40px;
  text-align: center;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

section.contact .contact-box h2 {
  color: var(--White);
  font-size: 30px;
  font-family: var(--heading-font);
  margin-bottom: 20px;
}

section.contact .contact-box p {
  color: var(--White);
  opacity: 0.7;
  font-size: var(--main-Font-size);
  line-height: 1.6;
  margin-bottom: 20px;
}

section.contact .contact-box .form {
  display: flex;
}

section.contact .contact-box .form input[type="email"] {
  padding: 15px 30px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  flex-grow: 1;
  margin-right: 20px;
}

section.contact .contact-box .error {
  text-align: left;
  margin-left: 30px;
  margin-top: 5px;
  font-size: var(--main-Font-size);
  color: var(--Light-Red);
}

@media (max-width: 992px) {
  section.contact .contact-box .form {
    flex-direction: column;
  }
  section.contact .contact-box .form input[type="email"] {
    margin-bottom: 20px;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  section.contact .contact-box h2 {
    font-size: 20px;
  }
  section.contact .contact-box p {
    font-size: 10px;
  }
}

@media (max-width: 375px) {
  section.contact .contact-box h2 {
    font-size: 15px;
  }
  section.contact .contact-box p {
    font-size: 10px;
  }
  section.contact .contact-box .form input[type="email"] {
    padding: 8px 15px;
    margin-right: 0;
    font-size: 10px;
  }
  section.contact .contact-box .form .btn {
    padding: 8px 15px;
  }
}

/* Footer */

footer {
  background-color: var(--footer-background);
  padding-top: 80px;
}

footer .logo {
  width: 150px;
  margin-bottom: 20px;
}

footer .rows {
  display: flex;
  gap: 100px;
  flex-wrap: wrap;
  justify-content: center;
}

footer .rows .row {
  display: flex;
}

footer .rows .row .location {
  display: flex;
  margin-right: 50px;
}

footer .rows .row .location i {
  color: var(--White);
  margin-right: 15px;
  top: 10px;
  position: relative;
}

footer .rows .row .location p {
  color: var(--White);
  opacity: 0.7;
  font-size: var(--main-Font-size);
  width: 300px;
}

footer .rows .row .contact .col {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

footer .rows .row .contact .col i {
  color: var(--White);
  margin-right: 15px;
}

footer .rows .row .contact .col p {
  color: var(--White);
  opacity: 0.7;
}

footer .rows .row:nth-child(2) {
  gap: 50px;
}

footer .rows .row:nth-child(2) .col {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

footer .rows .row:nth-child(2) .col a {
  color: var(--White);
  opacity: 0.7;
  font-weight: bold;
}

footer .rows .row:nth-child(2) .col a:hover {
  opacity: 1;
}

footer .rows .row .social {
  display: flex;
  gap: 30px;
}

footer .rows .row .social li {
  width: 35px;
  height: 35px;
  border: 1px solid var(--White);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

footer .rows .row .social li:hover {
  border-color: var(--Cyan);
}

footer .rows .row .social a {
  color: var(--White);
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

footer .rows .row .social li:hover a {
  color: var(--Cyan);
}

footer .attribution {
  margin: auto;
  padding: 20px;
  letter-spacing: 2px;
  color: var(--White);
}

footer .attribution a {
  font-weight: bold;
  color: var(--Blue);
}

footer .attribution a:hover {
  color: var(--White);
  text-decoration: underline;
}

@media (max-width: 768px) {
  footer .container {
    padding-left: 50px;
  }
  footer .rows {
    flex-direction: column;
    gap: 80px;
  }
  footer .rows .row {
    flex-direction: column;
  }
  footer .rows .row .location {
    margin-bottom: 20px;
    margin-right: 0;
  }
  footer .rows .row .social {
    margin: auto;
  }
}
